{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Environment{% endblock %}

{% block body %}
<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.time.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.resize.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.axislabels.js' %}"></script>
<script type="text/javascript">

$(function() {
	var options = {
		lines: { show: true } ,
		axisLabels: { show: true },
  		xaxes: [ { mode: 'time', axisLabel: 'UTC Hour' } ],
  		yaxes: [ { min: 0, axisLabelPadding: 10 } ],
		shadowSize: 0,
		legend: { position: 'sw' }
	};


	$.plot("#temperature", [], options);
	$.plot("#humidity", [], options);

	function loadTimeseriesPlot(url, id) {
		function buildPlotData(json) {
			plot_data = [];
		        reference_time = json['reference_time'];
		        jQuery.each(json['blocks'], function(_, block) {
		            jQuery.each(block['series'], function(id, series) {
		                data_index = block['data_columns'].indexOf(id);
		                data = []
		                jQuery.each(block['data'], function(_, d) {
		                    data.push([ (d[0] + reference_time) * 1000, d[data_index] ]);
		                });

		                data.sort(function(a, b) { return a[0] - b[0] });

		                series['data'] = data;
		                plot_data.push(series);
		            });
		        });

			return plot_data;
		}

		$.ajax({
			url: url,
			type: "GET",
			dataType: "json",
			success: function(json)
			{
				options.yaxes[0].axisLabel = json['axis_label'];
				$.plot(id, buildPlotData(json), options);
			}
		});
	}

	function loadPanels() {
		$.ajax({
			url: 'json/latest',
			type: "GET",
			dataType: "json",
			success: function(json)
			{
                jQuery.each(json, function(block, children) {
                    jQuery.each(children, function(key, value) {
                        $('#' + block + '_' + key).html(value);
                    });
                });
			}
		});
	}

	function update() {
		loadTimeseriesPlot('json/temperature', '#temperature');
		loadTimeseriesPlot('json/humidity', '#humidity');
        loadPanels();
		setTimeout(update, 30000);
	}

	update();
});

</script>
<style>

.plot-container {
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
}

.plot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.plot-container .legendLabel {
	text-align: left;
	padding-left: 3px;
}

</style>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="tablewrapper">
          <table class="table" style="font-size:0.85em">
            <thead>
              <tr>
                <th colspan="2">SQT Room Alert</th>
                <th colspan="2" class="tableupdated"><span id="sqt_roomalert_updated">Fetching...</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tablelabel">Room Alert:</td>
                <td class="tablevalue"><span id="sqt_roomalert_roomalert"></span></td>
                <td class="tablelabel">Dome:</td>
                <td class="tablevalue"><span id="sqt_roomalert_dome"></span></td>
              </tr>
              <tr>
                <td class="tablelabel">Outside:</td>
                <td class="tablevalue"><span id="sqt_roomalert_outside"></span></td>
                <td class="tablelabel">Truss:</td>
                <td class="tablevalue"><span id="sqt_roomalert_truss"></span></td>
              </tr>
              <tr>
                <td class="tablelabel">Trap Door:</td>
                <td class="tablevalue"><span id="sqt_roomalert_trap_open"></span></td>
                <td class="tablelabel">Hatch:</td>
                <td class="tablevalue"><span id="sqt_roomalert_hatch_open"></span></td>
              </tr>
              <tr>
                <td class="tablelabel">Dome:</td>
                <td class="tablevalue"><span id="sqt_roomalert_dome_open"></span></td>
                <td class="tablelabel">Covers:</td>
                <td class="tablevalue"><span id="sqt_roomalert_covers_open"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="tablewrapper">
          <table class="table" style="font-size:0.85em">         
            <thead>
              <tr>
                <th colspan="2">SuperWASP Room Alert</th>
                <th colspan="2" class="tableupdated"><span id="swasp_roomalert_updated">Fetching...</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tablelabel">Room Alert:</td>
                <td class="tablevalue"><span id="swasp_roomalert_roomalert"></span></td>
                <td class="tablelabel">Rack:</td>
                <td class="tablevalue"><span id="swasp_roomalert_rack"></span></td>
              </tr>
              <tr>
                <td class="tablelabel">Computer Room:</td>
                <td class="tablevalue"><span id="swasp_roomalert_computer_room"></span></td>
                <td class="tablelabel">Aircon:</td>
                <td class="tablevalue"><span id="swasp_roomalert_aircon"></span></td>
              </tr>
              <tr>
                <td class="tablelabel">Roof:</td>
                <td class="tablevalue"><span id="swasp_roomalert_roof"></span></td>
                <td class="tablelabel">Roof Power:</td>
                <td class="tablevalue"><span id="swasp_roomalert_roof_power"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="tablewrapper">
          <table class="table" style="font-size:0.85em">
            <thead>
              <tr>
                <th colspan="2">NITES Room Alert</th>
                <th colspan="2" class="tableupdated"><span id="nites_roomalert_updated"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tablelabel">Room Alert:</td>
                <td class="tablevalue"><span id="nites_roomalert_roomalert"></td>
                <td class="tablelabel">Dome:</td>
                <td class="tablevalue"><span id="nites_roomalert_dome"></td>
              </tr>
              <tr>
                <td class="tablelabel">Internal:</td>
                <td class="tablevalue"><span id="nites_roomalert_internal"></td>
                <td class="tablelabel">Dome:</td>
                <td class="tablevalue"><span id="nites_roomalert_dome_open"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="tablewrapper">
          <table class="table" style="font-size:0.85em">
            <thead>
              <tr>
                <th colspan="2">SWASP Weather Station</th>
                <th colspan="2" class="tableupdated"><span id="swasp_wxd_updated">Fetching...</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tablelabel">Inside:</td>
                <td class="tablevalue"><span id="swasp_wxd_inside"></td>
                <td class="tablelabel">Outside:</td>
                <td class="tablevalue"><span id="swasp_wxd_outside"></td>
              </tr>
              <tr>
                <td class="tablelabel">Rain:</td>
                <td class="tablevalue"><span id="swasp_wxd_rain"></td>
                <td class="tablelabel">Sky Temp.:</td>
                <td class="tablevalue"><span id="swasp_wxd_sky_temp"></td>
              </tr>
              <tr>
                <td class="tablelabel">Wind:</td>
                <td class="tablevalue"><span id="swasp_wxd_wind"></td>
                <td class="tablelabel">Pressure:</td>
                <td class="tablevalue"><span id="swasp_wxd_pressure"></td>
              </tr>
              <tr>
                <td class="tablelabel">Dew Pt.:</td>
                <td class="tablevalue"><span id="swasp_wxd_dew_point"></td>
                <td class="tablelabel"></td>
                <td class="tablevalue"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="tablewrapper">
          <table class="table" style="font-size:0.85em">
            <thead>
              <tr>
                <th colspan="2">SQT Weather Station</th>
                <th colspan="2" class="tableupdated">Updated XXX</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tablelabel">Wind:</td>
                <td class="tablevalue"><span style="color: #FFA500">XXX m/s from YYY&#176;</span></td>
                <td class="tablelabel">Rain:</td>
                <td class="tablevalue"><span style="color: #FFA500">XX mm</span></td>
              </tr>
              <tr>
                <td class="tablelabel">Temperature:</td>
                <td class="tablevalue"><span style="color: #FFA500">XXX&#8451;<br />YYY% RH</span></td>
                <td class="tablelabel">Pressure:</td>
                <td class="tablevalue"><span style="color: #FFA500">XXX mBar</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="plot-container">
          <div id="temperature" class="plot-placeholder"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="plot-container">
          <div id="humidity" class="plot-placeholder"></div>
        </div>
      </div>
    </div>  
  </div>
</div>

{% endblock %}
