{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Environment{% endblock %}

{% block body %}
<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.time.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.resize.js' %}"></script>
<script type="text/javascript">

$(function() {
	var options = {
		lines: { show: true } ,
  		xaxes: [ { mode: "time" } ],
  		yaxes: [ { min: 0 }, { position: "right", } ],
		shadowSize: 0
	};

	$.plot("#temperature", [], options);
	$.plot("#humidity", [], options);

	function loadTimeseriesPlot(url, id) {
		function buildPlotData(json) {
			plot_data = [];
		        reference_time = json['reference_time'];
		        jQuery.each(json['blocks'], function(_, block) {
		            jQuery.each(block['series'], function(id, series) {
		                data_index = block['data_columns'].indexOf(id);
		                data = []
		                jQuery.each(block['data'], function(_, d) {
		                    data.push([ (d[0] + reference_time) * 1000, d[data_index] ]);
		                });

		                series['data'] = data;
		                plot_data.push(series);
		            });
		        });

			return plot_data;
		}

		$.ajax({
			url: url,
			type: "GET",
			dataType: "json",
			success: function(json) { $.plot(id, buildPlotData(json), options); }
		});
	}

	loadTimeseriesPlot('json/temperature', '#temperature');
	loadTimeseriesPlot('json/humidity', '#humidity');
});

</script>
<style>

.plot-container {
	box-sizing: border-box;
	width: 100%;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #eee;
}

.plot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
</style>

<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="plot-container">
          <div id="temperature" class="plot-placeholder"></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="plot-container">
          <div id="humidity" class="plot-placeholder"></div>
        </div>
      </div>
    </div>  
  </div>
</div>

{% endblock %}
