<table class="table">
  <thead>
    <tr>
      <th colspan="4">External Environment</th>
    </tr>
  </thead>
  <tbody>
    <tr>  
      <td class="tablelabel">Wind Speed:</td>
      <td>{{ latest_external.wind_speed }} m/s</td>
      <td class="tablelabel">Wind Dir.:</td>
      <td>{{ latest_external.wind_direction }}&#176;</td>
    </tr>
    <tr>
      <td class="tablelabel">Temperature:</td>
      <td>{{ latest_external.air_temperature }}&#8451;</td>
      <td class="tablelabel">Humidity:</td>
      <td>{{ latest_external.air_humidity }}%</td>
    </tr>
    <tr>
      <td class="tablelabel">Pressure:</td>
      <td>{{ latest_external.air_pressure }} mbar</td>
      <td class="tablelabel">Rain:</td>
      <td>{{ latest_external.rain_amount }} mm</td>
    </tr>
    <tr>
      <td class="tableupdated" colspan="4">Updated {{ latest_external.time|date:"Y-m-d H:i:s" }}</td>
    </tr>
  </tbody>
</table>
