{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="tablewrapper">
        <table class="table">
          <thead>
            <tr>
              <th colspan="4">External Environment</th>
            </tr>
          </thead>
          <tbody>
            <tr>  
              <td class="tablelabel">Wind Speed:</td>
              <td>{{ latest_internal.wind_speed }} m/s</td>
              <td class="tablelabel">Wind Dir.:</td>
              <td>{{ latest_internal.wind_direction }}&#176;</td>
            </tr>
            <tr>
              <td class="tablelabel">Temperature:</td>
              <td>{{ latest_internal.air_temperature }}&#8451;</td>
              <td class="tablelabel">Humidity:</td>
              <td>{{ latest_internal.air_humidity }}%</td>
            </tr>
            <tr>
              <td class="tablelabel">Pressure:</td>
              <td>{{ latest_internal.air_pressure }} mbar</td>
              <td class="tablelabel">Rain:</td>
              <td>{{ latest_internal.rain_amount }} mm</td>
            </tr>
            <tr>
              <td class="tableupdated" colspan="4">Updated {{ latest_internal.time|date:"Y-m-d H:i:s" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="tablewrapper">
        <table class="table">
          <thead>
            <tr>
              <th colspan="4">Dome Environment</th>
            </tr>
          </thead>
          <tbody>
            <tr>  
              <td class="tablelabel">Temp.:</td>
              <td>20&#8451;</td>
              <td class="tablelabel">Humidity:</td>
              <td>90%</td>
            </tr>
            <tr>  
              <td class="tablelabel">Trap Door:</td>
              <td><span style="color: #C00">Open</span></td>
              <td class="tablelabel">Side Door:</td>
              <td><span style="color: #090">Closed</span></td>
            </tr>
            <tr>  
              <td class="tablelabel">Dome:</td>
              <td><span style="color: #090">Open</span></td>
              <td class="tablelabel">Covers:</td>
              <td><span style="color: #FA0">Mixed</span></td>
            </tr>
            <tr>
              <td class="tableupdated" colspan="4">Updated XXX</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="tablewrapper">
        <table class="table">
          <thead>
            <tr>
              <th colspan="4">Power</th>
            </tr>
          </thead>
          <tbody>
            <tr>  
              <td class="tablelabel">Main Power:</td>
              <td><span style="color: #090">Enabled</span></td>
              <td class="tablelabel">UPS Status:</td>
              <td><span style="color: #090">Good</span></td>
            </tr>
            <tr>  
              <td class="tablelabel">UPS Charge:</td>
              <td><span style="color: #090">100%</span></td>
              <td class="tablelabel">UPS Load:</td>
              <td><span style="color: #090">20%</span></td>
            </tr>
            <tr>  
              <td class="tablelabel">Tel. Drive:</td>
              <td><span style="color: #090">Enabled</span></td>
              <td class="tablelabel">Tel. Other:</td>
              <td><span style="color: #FA0">Mixed</span></td>
            </tr>
            <tr>
              <td class="tablelabel">Cameras:</td>
              <td><span style="color: #C00">Disabled</span></td>
              <td class="tablelabel">Dome:</td>
              <td><span style="color: #C00">Disabled</span></td>
            </tr>
            <tr>
              <td class="tableupdated" colspan="4">Updated XXX</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="tablewrapper">
        <table class="table">
          <thead>
            <tr>
              <th colspan="4">Telescope</th>
            </tr>
          </thead>
          <tbody>
            <tr>  
              <td class="tablelabel">RA:</td>
              <td>XXX</td>
              <td class="tablelabel">Dec:</td>
              <td>XXX</td>
            </tr>
            <tr>  
              <td class="tablelabel">Tracking:</td>
              <td><span style="color: #C00">Disabled</span></td>
              <td class="tablelabel">Status:</td>
              <td><span style="color: #999">IDLE</span></td>
            </tr>
            <tr>
              <td class="tableupdated" colspan="4">Updated XXX</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img width="100%" style="padding:0 10px" src="http://wasp.warwick.ac.uk/swasp/main/cam3/image.jpg" />
    </div>
    <div class="col-sm-6">
      <img width="100%" style="padding:0 10px" src="http://wasp.warwick.ac.uk/swasp/main/cam1/image.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img width="100%" style="padding:0 10px" src="http://sat24.com/image2.ashx?region=ce&ir=true" />
    </div>
    <div class="col-sm-4">
      <img width="100%" style="padding:0 10px" src="http://sat24.com/image2.ashx?region=ce&ir=false" />
    </div>
    <div class="col-sm-4">
      <img width="100%" style="padding:0 10px" src="http://sat24.com/image2.ashx?region=ce&ir=true&type=ra&ra=true" />
    </div>
  </div>
</div>
{% endblock %}