<table class="table">
  <thead>
    <tr>
      <th colspan="4">Power</th>
    </tr>
  </thead>
  <tbody>
    <tr>  
      <td class="tablelabel">Main Power:</td>
      <td><span style="color: #090">Enabled</span></td>
      <td class="tablelabel">UPS Status:</td>
      <td><span style="color: #090">Good</span></td>
    </tr>
    <tr>  
      <td class="tablelabel">UPS Charge:</td>
      <td><span style="color: #090">100%</span></td>
      <td class="tablelabel">UPS Load:</td>
      <td><span style="color: #090">20%</span></td>
    </tr>
    <tr>  
      <td class="tablelabel">Tel. Drive:</td>
      <td><span style="color: #090">Enabled</span></td>
      <td class="tablelabel">Tel. Other:</td>
      <td><span style="color: #FA0">Mixed</span></td>
    </tr>
    <tr>
      <td class="tablelabel">Cameras:</td>
      <td><span style="color: #C00">Disabled</span></td>
      <td class="tablelabel">Dome:</td>
      <td><span style="color: #C00">Disabled</span></td>
    </tr>
    <tr>
      <td class="tableupdated" colspan="4">Updated XXX</td>
    </tr>
  </tbody>
</table>