<table class="table">
  <thead>
    <tr>
      <th colspan="4">Telescope</th>
    </tr>
  </thead>
  <tbody>
    <tr>  
      <td class="tablelabel">RA:</td>
      <td>XXX</td>
      <td class="tablelabel">Dec:</td>
      <td>XXX</td>
    </tr>
    <tr>  
      <td class="tablelabel">Tracking:</td>
      <td><span style="color: #C00">Disabled</span></td>
      <td class="tablelabel">Status:</td>
      <td><span style="color: #999">IDLE</span></td>
    </tr>
    <tr>
      <td class="tableupdated" colspan="4">Updated XXX</td>
    </tr>
  </tbody>
</table>