<table class="table">
  <thead>
    <tr>
      <th colspan="4">Power</th>
    </tr>
  </thead>
  <tbody>
    <tr>  
      <td class="tablelabel">Main Power:</td>
      <td><span style="color: #090">{{ latest_power.main_ups_status }}</span></td>
      <td class="tablelabel">UPS Status:</td>
      <td><span style="color: #090">{{ latest_power.main_ups_status }}</span></td>
    </tr>
    <tr>  
      <td class="tablelabel">UPS Charge:</td>
      <td><span style="color: #090">{{ latest_power.main_ups_battery }}%</span></td>
      <td class="tablelabel">UPS Load:</td>
      <td><span style="color: #090">{{ latest_power.main_ups_load }}%</span></td>
    </tr>
    <tr>  
      <td class="tablelabel">Tel. Drive:</td>
      <td><span style="color: #090">Enabled</span></td>
      <td class="tablelabel">Tel. Other:</td>
      <td><span style="color: #FA0">Mixed</span></td>
    </tr>
    <tr>
      <td class="tablelabel">Cameras:</td>
      <td><span style="color: #C00">Disabled</span></td>
      <td class="tablelabel">Dome:</td>
      <td><span style="color: #C00">Disabled</span></td>
    </tr>
    <tr>
      <td class="tableupdated" colspan="4">Updated {{ latest_power.time|date:"Y-m-d H:i:s" }}</td>
    </tr>
  </tbody>
</table>
